<button type="button" name="button">
  <a href="/generate_names">Fill Names</a>
</button>

<h1>Welcome Home</h1>


  <table id="myTable" class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Student ID</th>
        <th onclick="sortTable(0)" scope="col">First Name</th>
        <th onclick="sortTable(1)" scope="col">Last Name</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
      <tr>
        <td><a href="/<%= student.studentid %>"><%= student.studentid %></a></td>
        <td><a href="/<%= student.studentid %>"><%= student.firstname %></a></td>
        <td><a href="/<%= student.studentid %>"><%= student.lastname %></a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
