<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Date</th>
      <th scope="col">Comment</th>
    </tr>
  </thead>
  <tbody>
    <% attendence = Attendence.find @searchresults.studentid  %>
    <% attendence.each do |attend| %>
    <tr>
      <td><a href="/<%= @searchresults.studentid %>"><%= attend.status %></a></td>
      <td><a href="/<%= @searchresults.studentid %>"><%= attend.date %></a></td>
      <td><a href="/<%= @searchresults.studentid %>"><%= attend.comments %></a></td>
      <td><form class="" action="/attendence/<%= attend.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="studentid" value="<%= @searchresults.studentid %>">
        <input type="submit" value="Delete">
      </form></td>
    </tr>
    <% end %>
  </tbody>
</table>
