<h1><%= @students.firstname %> <%= @students.lastname %></h1>

<table>
  <tr>
    <th>Status</th>
    <th>Date</th>
    <th>Comments</th>
  </tr>
  <% attendence = Attendence.find @students.studentid  %>
  <% attendence.each do |attend| %>
    <tr>
      <td><a href="/<%= @students.studentid %>"><%= attend.status %></a></td>
      <td><a href="/<%= @students.studentid %>"><%= attend.date %></a></td>
      <td><a href="/<%= @students.studentid %>"><%= attend.comments %></a></td>
    </tr>
  <% end %>
</table>

<form class="" action="/<%= @students.studentid %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Student">
</form>
