<h1><%= @students.firstname %> <%= @students.lastname %></h1>

<button type="button" name="button">
  <a href="/<%= @students.studentid %>/edit">Edit Student</a>
</button>

<form class="" action="/<%= @students.studentid %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Student">
</form>

<table>
  <tr>
    <th>Status</th>
    <th>Date</th>
    <th>Comments</th>
  </tr>
  <% attendence = Attendence.find @students.studentid  %>
  <% attendence.each do |attend| %>
    <tr>
      <td><a href="/<%= @students.studentid %>"><%= attend.status %></a></td>
      <td><a href="/<%= @students.studentid %>"><%= attend.date %></a></td>
      <td><a href="/<%= @students.studentid %>"><%= attend.comments %></a></td>
    </tr>
  <% end %>
</table>
<<<<<<< HEAD

<form class="" action="/<%= @students.studentid %>" method="post">

  <label for="">Date:</label>
  <input type="text" name="date" placeholder="Todays date">
  <label for="">Status:</label>
  <input type="text" name="status" placeholder="">
  <label for="">Comments:</label>
  <input type="text" name="comments" placeholder="">

  <input type="hidden" name="studentid" value="<%= @students.studentid %>">
  <input type="submit" name="" value="Update Table">
</form>

<form class="" action="/<%= @students.studentid %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Student">
</form>
=======
>>>>>>> 5c0b971c22a2da9348fe3416b0f40c28d97db978
