<div class="jumbotron">
  <h1 class="display-4">Sparta Register!</h1>
  <p class="lead">This is a simple attendance tracking application.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div>

  <table id="myTable"class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Group ID</th>
        <th scope="col">Group Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
      <tr>
        <td><a href="/<%= group.groupid %>"><%= group.groupid %></a></td>
        <td><a href="/<%= group.groupid %>"><%= group.groupname.capitalize %></a></td>
        <td><form class="btn right" action="/<%= group.groupid %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete Group" class="btn btn-primary" >
        </form></td>
      </tr>
      <% end %>
    </tbody>
  </table>
